{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %} <!-- в блоке head можно подключать css i js -->
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">
    <script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}


{% block content %}
    <div id="content">
        <br><br>
        <!-- <h1>Головна сторінка</h1> -->
        <form method="post" name = "user-review" id = "review-form" >
            <h2>
                Share your opinion with us!
            </h2>
            <input type = "text" name = "name" placeholder = "Enter your name" id = "name-input">
            <input type = "email" name = "email" placeholder = "Enter your email" id = "email-input">
            <textarea name = "review" placeholder = "Leave your review" id = "review-input"></textarea>
            <button name = "send-button" id = "send-button">Send</button>
            
        </form>
        <div id = "message-window" style="display: none;">
            <div id = "mini-window-content">
                {% if error == True %}
                    <img class = "sad-pinguin" src = "" alt = "">
                    <p class = "main-message">
                        Oops.. Something went wrong 
                    </p>
                    <p class = "second-message">
                        try again
                    </p>
                    <form method="">
                        <button class="message-exit-button" name="close-modal" value="1">
                            Exit
                        </button>
                    </form>

                {% elif error == False %}
                    <img class = "happy-pinguin" src = "" alt = "">
                    <p class = "main-message">
                        Thanks for your response! 
                    </p>
                    <p class = "second-message">
                        Your feedback is what people need
                    </p>
                    <form methods ="post">
                        <button class = "message-exit-button">
                            Exit
                        </button>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}