{% extends 'base.html' %}

{% block title %}
    User
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename = 'css/user.css') }}">
    <script src = "{{ url_for('user.static', filename = 'js/user.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id = "content">

        {% if username != 'none' %}
            <div id="welcome-auth-text">
                <h2>Welcome to user page, {{ username }} !</h2>
            </div>

        {% else %}
            <div id="welcome-auth-text">
                <h2>Welcome to user page, you need to login!</h2>
                <!-- <h2>If you not registred..<a href="{{ url_for('user.registration') }}" class="message-registration-button">REGISTRATION</a></h2>
                <h2>If you are already registered..<a href="{{ url_for('user.authorization') }}" class="message-authorization-button">AUTHORIZATION</a></h2> -->
            </div>
            
        {% endif %}
    </div>
    

{% endblock %}
