body{
    margin: 0px;
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-position: center;
}

#content{
    margin-left: 95px;
    margin-right: 95px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84px;
}

#welcome-auth-text h2{
    font-family: "Gill Sans MT";
    font-weight: bold;
    color: #1E1E26;
}

#welcome-auth-text{
    background-color: #D0E1F9;
    border-radius: 25px;
    width: 720px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block-links{
    display: flex;
    width: 100% ;
    height: 84px ;
    background-color: #1E1E26 ;
    flex-direction: row;
    
}
#block-links *{
    margin-left: 10px;
}
#links-content{
    margin-left: 95px;
    margin-right: 95px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84px;
}
a, h2{
    font-family: "Gill Sans MT";
    font-weight: bold;
    color: #C0D1EA;
}

#registration-form{
    width: 440px;
    height: 393px;
    background-color: #D0E1F9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#registration-form h2{
    font-family: "Gill Sans MT";
    font-weight: bold;
    color: #1E1E26;
}

#registration-form *{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Задаем цвет внутреннему тексту инпута */
input::placeholder{
    color: #4D658C;
    font-family: "Gill Sans MT";
    font-weight: bold;
}

input{
    width: 384px;
    height: 48px;
    background-color: #E6EFFE;
    border: 2px solid #4D648C;
    border-radius: 10px;
    color: #1E1E26;
    font-family: "Gill Sans MT";
    font-weight: bold;
}
#confirm-registration{
    width: 254px;
    height: 45px;
    background-color: #1E1E26;
    border-radius: 10px;
    color: #F8FEFF;
}

#authorization-form{
    width: 440px;
    height: 321px;
    background-color: #D0E1F9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#authorization-form h2{
    font-family: "Gill Sans MT";
    font-weight: bold;
    color: #1E1E26;
}

#authorization-form *{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirm-authorization{
    width: 254px;
    height: 45px;
    background-color: #1E1E26;
    border-radius: 10px;
    color: #F8FEFF;
}
.message-window{
    background-color: #1919198a;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-window div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.mini-window-content{
    width: 40%;
    height: 50%;
    background-color: #D0E1F9;
    border-radius: 25px;
}

.mini-window-content *{
    font-family: "Gill Sans MT";
    margin-bottom: 16px;
    margin-top: 0px;
}

.message-registration-button{
    width: 159px;
    height: 45px;
    background-color: #1E1E26;
    font-family: "Gill Sans MT";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
}

#next-authorization{
    background-color: #1E1E26;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Gill Sans MT";
    font-weight: bold;
    width: 160px;
    height: 45px;
    color: #D0E1F9;
}
.message-exit-button{
    background-color: #1E1E26;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Gill Sans MT";
    font-weight: bold;
    width: 160px;
    height: 45px;
    color: #D0E1F9;
}