{% extends 'base.html' %}

<!-- создать static в корне приложения и подключить файлы css, js-->

{% block title %}
    Tour
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('tour.static', filename = 'css/tour.css') }}">
    <script src = "{{ url_for('tour.static', filename = 'js/tour.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id = "content">
        <h1>Сторінка Туру</h1>
        <!-- 
        -title
        - date 
        - country 
        -->
        <div id = "tours">
            
                {% for tour in tours %}

                    <div id = "trip-{{tour.id}}" class="trip">
                        <a href="{{ url_for('tour.render_tour_detail', tour_id=tour.id) }}">{{ tour.title.split(";")[0] }}</a>
                        
                        <h3>{{ tour.date.split(",")[0] }}</h3>
                        <!-- {% for date in tour.date.split(",") %}
                            <h2>{{ date }}</h2>
                        {% endfor %} -->
                        <h3>{{ tour.country }}</h3>
                    </div>

                {% endfor %}
            
        </div>
    </div>
    
    
    
{% endblock %}