<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            
            <!-- подключили файлы сss и js -->
            <!-- <script src = "{{ url_for('static', filename = 'js/base.js') }}" defer></script>
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}"> -->
 
            {% block head %}

            {% endblock %}
        </head>
    
    <body>
        <header id = "block-links">
            <div id="links-content">
                <a href="/">HOME</a>
                <a href="/tour">TOUR</a>
                <a href="/user">USER</a>
                {% if username == "none" %}

                    <!-- <a href="/user">USER</a> -->
                    <a href="{{ url_for('user.registration') }}">REGISTRATION</a>
                    <a href="{{ url_for('user.authorization') }}">AUTHORIZATION</a>

                {% else %}

                    <h2>Hello, {{ username }} !</h2>
                    <form method = "post" id = "log-out-form">
                        <input type="hidden" name="logout" value="true">
                        <button id = "log-out">
                            Log out
                        </button>
                    </form>

                {% endif %}

                <form action="post">
                    <button id = "user-icon">
                        <img src="" alt="">
                        icon
                    </button>
                </form>
            </div>
            
        </header>
            
        {% block content %}
        {% endblock %}
    </body>
</html>
