<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id = "block-links">
            <a href="/">HOME</a>
            <a href="/tour">TOUR</a>
            <a href="/user">REGISTRATION</a>
            <form action="post">
                <button id = "user-icon">`
                    icon
                </button>
            </form>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>