<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            
            <!-- подключили файлы сss и js -->
            <!-- <script src = "{{ url_for('static', filename = 'js/base.js') }}" defer></script>
            <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}"> -->
 
            {% block head %}

            {% endblock %}
        </head>
    
    <body>
        <header id = "block-links">
            <a href="/">HOME</a>
            <a href="/tour">TOUR</a>
            {% if username == "none" %}

                <a href="/user">AUTHORIZATION</a>

            {% else %}

                <h2>Hello, {{ username }} !</h2>
                <form method = "get" id = "log-out-form">
                    <button id = "log-out">
                        Log out
                    </button>
                </form>

            {% endif %}

            <form action="post">
                <button id = "user-icon">
                    <img src="" alt="">
                    icon
                </button>
            </form>
        </header>
            
        {% block content %}
        {% endblock %}
    </body>
</html>
